.content {
    display: grid;
    grid-template-columns: 200px auto; /* Добавляем колонку для текста */
    gap: 40px; /* Отступ между изображением и текстом */
}

.content img {
    height: 200px;
    width: 200px;
    object-fit: cover;
    margin-left: 20px;
}

.profile-info {
    display: flex;
    flex-direction: column;
    justify-content: center;

}
